:root {
  --main-color: #4caf50;
  --hover-color: #45a049;
  --secondary-color: #f8f8f8;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--main-color);
  text-align: center;
  height: 60px;
  padding: 0 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-size: 24px;
}

.header__admin-info {
  display: flex;
  align-items: center;
}

.header__admin-info .header__admin-name {
  margin-right: 10px;
}

.header__admin-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../assets/profile.png);
  background-size: cover;
  background-position: center;
}

.button--logout {
  background-color: #ccc;
  color: black;
  position: absolute;
  display: none;
  top: 50px;
  right: 0;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button--logout:hover {
  color: #fff;
  background-color: #aaa;
}

.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
  width: 100%;
}

.admin-panel__button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.admin-panel__button:hover {
  background-color: var(--hover-color);
}

.product-list {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.product-list__item {
  background-color: #fff;
}

.product-list__item:hover {
  background-color: #f9f9f9;
}

.product-list__name,
.product-list__price,
.product-list__quantity {
  flex: 1;
  text-align: center;
}

.product-list__name {
  text-align: left;
  flex: 2;
}

.product-list__remove {
  flex: 0;
  text-align: center;
}

.product-list__remove {
  color: red;
  cursor: pointer;
}

.product-list__remove:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
}

.modal__title {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal__input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modal__input:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal__button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.modal__button:hover {
  background-color: var(--hover-color);
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__error {
  color: red;
  font-size: 16px;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
